# Usage
# file: ~/.gitconfig
#   [include]
#     path = this/file/path/.gitconfig
#   [user]
#     name = hoge
#     email = your@mail.address
#   [core]
#     excludesfile = /your/file/path/.gitignore_global

[color]
  ui = auto
[alias]
  st = status
  onelog = log --oneline --graph
  co = checkout
  br = branch
  ci = commit -v
  fix = commit --amend -v
  ca = commit -v -a
[push]
  default = matching
[core]
  editor = vim -c 'set fenc=utf-8'
#  excludesfile = .gitignore_global
