# Usage:
# file: ~/.gitconfig
#   [include]
#     path = this/file/path/.gitconfig
#   [core]
#     excludesfile = /your/file/path/.gitignore_global
#
# GPG sign:
# Run gpg --gen-key
#     gpg --armor --export XXX # and paste the output to GitHub
# Add the following code to ~/.gitconfig
#   [user]
#     signingkey = XXX
#   [commit]
#     gpgsign = true

[user]
  name  = Masataka Pocke Kuwabara
  email = kuwabara@pocke.me

[color]
  ui = auto

[alias]
  st     = status --short --branch
  co     = checkout
  br     = branch
  ci     = commit -v
  fix    = commit --amend -v
  fixa   = commit --amend -v -a
  ca     = commit -v -a
  aa     = add .
  reh    = reset --hard
  ri     = rebase -i
  df     = diff
  dc     = diff --cached
  pl     = pull --ff
  plr    = pull --rebase
  ps     = push
  psu    = !git push -u origin "$(git rev-parse --abbrev-ref HEAD)"
  psf    = push --force-with-lease
  git    = !git
  ls     = !ls --color=auto -F
  rao    = remote add origin
  fo     = fetch origin
  fpr    = "!f(){ git fetch origin pull/$1/head; git co FETCH_HEAD; };f"

[push]
  default = simple

[core]
  editor = vim +1 -c 'set fenc=utf-8'
  preloadindex = true
  pager = /usr/share/git/diff-highlight/diff-highlight | less -x2
  quotepath = false

[help]
  autocorrect = -1

[fetch]
  prune = true

[url "git@github.com:"]
  pushinsteadof = "git://github.com/"
  pushinsteadof = "https://github.com"

[github]
  user = pocke

[ghq]
  root = ~/ghq
  root = ~/go/src
  root = ~/.vim/bundle/
